.cart-view-body {
    display: grid;
    padding: 2vw;
    justify-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../assets/back-visitus.jpg);
    background-attachment: fixed;
}

.cart-view-title {
    color: #ffffff;
    padding-bottom: 3vw;
    text-align: center;
}

.cart-view-empty {
    color: #ffffff;
    padding: 4vw;
    height: 40vw;
    font-weight: bold;
    justify-self: center;
}

.cart-view-total {
    border-color: white;
    border-style: double;
    color: white;
    margin: 4vw;
    padding: 0.8vw;
    font-weight: bold;
    justify-self: right;
}

.cart-view-btn {
    width: 13vw;
    height: 2.5vw;
    margin: 1vw;
    background-color: black;
    border-color: rgba(255, 255, 255, 0.452);
    border-width: 1px;
    border-radius: 0.5vw;
}

.cart-view-clear-btn {
    background-color: rgb(99, 99, 99);
}