.cart-view-body {
    display: grid;
    padding: 2vw;
    justify-items: center;
    text-align: center;
    background-color: rgb(17, 17, 17);
}

.cart-view-title {
    color: white;
    padding-bottom: 3vw;
    text-align: center;
}

.cart-view-empty {
    color: white;
    padding: 4vw;
    height: 40vw;
    font-weight: bold;
    justify-self: center;
}

.cart-view-total {
    border-color: white;
    border-style: double;
    color: white;
    margin: 4vw;
    padding: 0.8vw;
    font-weight: bold;
    justify-self: right;
}

.cart-view-btn {
    width: 13vw;
    height: 2.5vw;
    margin: 1vw;
    background-color: black;
    border-color: rgb(176, 138, 0);
}

.cart-view-clear-btn {
    background-color: rgb(99, 99, 99);
}