.item-detail-container {
    display: flex;
    justify-content: center;
    background-color: rgb(17, 17, 17);
}

.loading {
    margin: 2vw;
    font-size: 0.8vw;
    color: white;
    text-align: center;
}

.loadingImg {
    height: 4vw;
    width: 4vw;
}

