.item-detail-container {
    display: flex;
    height: 50vw;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.653), rgba(0, 0, 0, 0.699)), url(../../assets/back-products.jpg);
    background-attachment: fixed;
}

.loading {
    margin: 2vw;
    font-size: 0.8vw;
    color: white;
    text-align: center;
}

.loadingImg {
    height: 4vw;
    width: 4vw;
}

