.item-detail-container {
    display: flex;
    justify-content: center;
}

.loading {
    margin: 2vw;
    font-size: 0.8vw;
    color: black;
    text-align: center;
}

.loadingImg {
    height: 4vw;
    width: 4vw;
}