.cart-div {
    padding: 2vw;
}

.cart-img {
    width: 4vw;
    height: 4vw;
    align-self: center;
  }

  .cart-cant {
    border-radius: 1.2vw;
    background-color: white;
    color: black;
    width: 1.5vw;
    font-size: 1.2vw;
    font-weight: bold;
    text-align: center;
  }