.header {
    background-color: aqua;
    align-content: center;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: black;
    justify-items: center;
}

.logo {
    width: 10vw;
    height: 10vw;
  }

.item-logo {
    align-self: center;
}

.item-menu {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    align-self: center;
    font-size: 1.2vw;
}