.header {
    align-content: center;
    width: 100%;
}

.navbar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: black;
    justify-items: center;
}

.logo {
    width: 10vw;
    height: 10vw;
  }

.item-logo {
    align-self: center;
}

.item-menu {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    align-self: center;
    font-size: 1.3vw;
}

.item-menu:hover {
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px #594600;;
}

.item-menu:focus {
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px rgb(89, 70, 0);
}