.header {
    background-color: aqua;
    align-content: center;
}

.Navbar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: black;
    justify-items: center;
}

.item-menu {
    list-style: none;
    text-decoration: none;
    align-self: center;
}