.nav-cat {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: black;
    justify-items: center;
    align-items: center;
    margin: 0.2vw;
}

.item-menu-cat {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    align-self: center;
    font-size: 1vw;
}