.title {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 3vw;
    background-color: rgb(17,17,17);
}

.end-purchase-div {
    text-align: center;
    background-color: rgb(17,17,17);
}

.end-purchase-form {
    display: inline-block;
    border-radius: 1vw;
    background-color: black;
    padding: 7vw;
    width: 30%;
    height: 25%;
    margin-bottom: 2vw;
}

.end-purchase-form-label {
    display: block;
    text-align: left;
    padding: 1vw;
}

.end-purchase-form-input {
    margin-bottom: 2vw;
    padding: 0.8vw;
    width: 85%;
    color: black;
}

.end-purchase-form-btn {
    width: 40%;
    height: 2.5vw;
    margin: 1.5vw;
    background-color: black;
    border-color: rgb(176, 138, 0);
}