.title {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 3vw;
    background-color: black;
}

.end-purchase-div {
    text-align: center;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.793)), url(../../assets/back-aboutus.jpg);
    background-attachment: fixed;
}

.end-purchase-form {
    display: inline-block;
    border-radius: 1vw;
    background-color: black;
    padding: 7vw;
    width: 30%;
    height: 25%;
    margin-bottom: 2vw;
    box-shadow: 0px -1px 20px rgb(89, 70, 0);
}

.end-purchase-form-label {
    display: block;
    text-align: left;
    padding: 1vw;
}

.end-purchase-form-input {
    margin-bottom: 2vw;
    padding: 0.8vw;
    width: 85%;
    color: black;
}

.end-purchase-form-btn {
    width: 40%;
    height: 2.5vw;
    margin: 1.5vw;
    background-color: black;
    border-color: rgba(255, 255, 255, 0.452);
    border-width: 1px;
    border-radius: 0.5vw;
}