.title {
    color: black;
    text-align: center;
    padding: 3vw;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: black;
    justify-items: center;
}