.visit-title {
    color: white;
    font-size: 3vw;
    text-align: center;
    padding: 3vw;
}

.visit-container {
    text-align: center;
    height: 40vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../assets/back-visitus.jpg);
    background-attachment: fixed;
}

.visit-p {
    color: white;
    margin: 1.5vw;
}