*{
  margin: 0vw;
  padding: 0vw;
  color: rgb(255, 255, 255);
}

.bg-pages {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('./assets/bg-aboutus.webp');
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(103, 103, 103, 0.519);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.9);
}