.itemCount {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 13vw;
    height: 6vw;
    background-color: black;
    justify-items: center;
}

.itemCountInput, .itemCountButton, .itemCountButtonAdd {
    background-color: black;
    text-align: center;
    align-self: center;
    font-size: 0.9vw;
    font-weight: 500;
}

.itemCountButton, .itemCountButtonAdd {
    border-color: rgb(255, 255, 255);
}

.itemCountButton {
    width: 2vw;
    height: 2vw;
}

.itemCountButtonAdd {
    width: 12vw;
    height: 2.5vw;
    grid-column-start: 1;
    grid-column-end: 4;
}
    
.itemCountInput {
    width: 1.8vw;
    height: 1.8vw;
}